.vscode/settings.json
src/__pycache__/input.cpython-39.pyc
src/__pycache__/plot.cpython-39.pyc
src/__pycache__/classes.cpython-39.pyc
src/__pycache__/__init__.cpython-39.pyc
src/.ipynb_checkpoints/plot-checkpoint.py
src/.ipynb_checkpoints/input-checkpoint.py
src/.ipynb_checkpoints/classes-checkpoint.py
.ipynb_checkpoints/arrayExample-checkpoint.ipynb
